@font-face {
  font-family: "iconfont"; /* Project id 3666251 */
  src: url('iconfont.woff2?t=1663848339945') format('woff2'),
       url('iconfont.woff?t=1663848339945') format('woff'),
       url('iconfont.ttf?t=1663848339945') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-bottom:before {
  content: "\e666";
}

.icon-back:before {
  content: "\e667";
}

.icon-arrow-double-left:before {
  content: "\e668";
}

.icon-arrow-double-right:before {
  content: "\e669";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-arrow-down-bold:before {
  content: "\e687";
}

.icon-arrow-right-bold:before {
  content: "\e688";
}

